CHUNK_SIZE=500
CHUNK_OVERLAP=100
DOCS_FOLDER=pdfs/
REDIS_URL=redis://redis:6379
LLMCACHE_THRESHOLD=0.9
TOKENIZERS_PARALLELISM=false

# LangChain Azure OpenAI env vars
AZURE_OPENAI_ENDPOINT = "https://ava-openai.openai.azure.com"
AZURE_OPENAI_API_KEY = "1234567890"

CHATBOT_EMBEDDING_DEPLOYMENT=ava-model-embedding
CHATBOT_LLM_DEPLOYMENT=ava-model-text

OPENAI_API_TYPE=azure
OPENAI_API_VERSION=2023-05-15
OPENAI_LOG=debug
