# using CPU only for Torch to avoid 10GB of dependencies
# see also
# https://github.com/UKPLab/sentence-transformers/issues/1409
#
--extra-index-url https://download.pytorch.org/whl/cpu
#redis - dependency from redisvl
git+https://github.com/RedisVentures/redisvl.git@main
langchain-core
langchain-community
langchain-openai
tiktoken
python-dotenv==0.21.0
streamlit==1.24.1
streamlit-chat
sentence-transformers==2.2.2
altair==4.0
pypdf
